---
title: JDM 京东移动前端
component: ContentPage
---
div.row
  div.col-sm-4
    h3 GitHub
    p <a href="https://github.com/zrwdopod/jdm.git">github.com/zrwdopod/jdm.git</a>
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
    p 首页数据(AJAX请求来自服务端的页面)
