<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <style id="css"><%= css %></style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">您的浏览器<strong>过时了</strong> 请 <a href="http://browsehappy.com/">升级您的浏览器</a> 以便获取新时代的客户体验</p>
    <![endif]-->
    <div id="app"><%= body %></div>
    <script src="../public/app.js"></script>
  </body>
</html>
